# Системні файли macOS (папки з іконками, налаштування перегляду)
.DS_Store

# Системні файли Windows
Thumbs.db
desktop.ini

# Налаштування редакторів (VS Code, WebStorm)
.vscode/
.idea/

# Тимчасові файли або логи
*.log